<h1> Please describe your question </h1>

<%= form_for(@question) do |f| %>
<% if @question.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@question.errors.count, "error") %> prohibited this article from being saved:</h2>

          <ul>
          <% @question.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

  <div class="row">
    <%= f.label :title, "Title"%>
    <div>
    <%= f.text_area :title, size: "-24x-24" %>
    </div>
  </div>

  <div class="row">
    <%= f.label :description, "Description"%>
    <div>
    <%= f.text_area :description, size: "-24x-24" %>
    </div>
  </div>

  <div class="row actions">
    <%= f.submit "Submit"%>
  </div>
<% end %>

<%= link_to 'Back', questions_path %>


